<div class="row" style="margin-bottom: 7px; margin-top: -8px">
  <div class="col-sm-12 m-t-10">
    <div class="btn-group float-right m-b-10">
      <button
        class="btn btn-block btn-bgcolor m-b-5"
        (click)="showModal(newProductModal)"
      >
        Add product
      </button>
    </div>
    <h4 class="page-title" style="font-size: 18px; padding-right: 5px">
      Manage products
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body text-center">
        <!-- search -->
        <div class="row" style="text-align: left">
          <div class="col-lg-4 col-md-4">
            <label>Search</label>
          </div>
        </div>
        <div class="row" style="margin-top: 10px">
          <div class="col-lg-4 col-md-4" style="margin-bottom: 15px">
            <input
              class="form-control"
              type="text"
              placeholder="Product name"
              [(ngModel)]="commonSearchModel.searchText"
            />
          </div>
          <div
            class="col-lg-4 col-md-4"
            style="margin-bottom: 15px; text-align: left"
          >
            <button
              type="button"
              class="btn btn-danger"
              (click)="getProductSearch(1)"
            >
              Search</button
            >&nbsp;
            <button
              type="button"
              class="btn btn-secondary waves-effect"
              (click)="resetProduct(1)"
            >
              Reset
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- list of products  -->
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body text-center">
        <div class="row" style="text-align: left">
          <div class="col-lg-12 col-md-12">
            <label>Product list &nbsp;({{ products?.length }})</label>
          </div>
        </div>

        <div class="row" style="margin-top: 30px">
          <div class="col-12">
            <table class="table table-hover" style="width: 100%">
              <thead>
                <tr style="text-align: center">
                  <th style="min-width: 80px">Image</th>
                  <th style="min-width: 210px">Name</th>
                  <th style="min-width: 80px">Category</th>
                  <th style="min-width: 80px">Quantity</th>
                  <th style="min-width: 80px">Price</th>
                  <th style="min-width: 60px">Discount</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  style="text-align: center"
                  *ngFor="let product of products | paginate : config"
                >
                  <td>
                    <!-- {{ product.url }} -->
                    <img
                      src="{{ imageUrl + product.url }}"
                      style="width: 70px; height: 50px; border: 1px solid"
                      class="img-responsive"
                    />
                  </td>
                  <td>{{ product.name }}</td>
                  <td>{{ product.category }}</td>
                  <td>{{ product.quantity }}</td>
                  <td>{{ product.price | currency }}</td>
                  <td>{{ product.discount | currency }}</td>
                  <td>
                    <i
                      class="fas fa-info-circle"
                      style="
                        color: rgb(233, 100, 55);
                        cursor: pointer;
                        font-size: 17px;
                      "
                      (click)="
                        getProductDetails(product.id, productDetailsModal)
                      "
                    ></i>
                    &nbsp; &nbsp;&nbsp;<i
                      class="fas fa-edit"
                      style="cursor: pointer; font-size: 17px"
                      (click)="getProductForEdit(product.id, newProductModal)"
                    ></i>
                    &nbsp;&nbsp;

                    <i
                      class="fas fa-trash"
                      style="color: red; cursor: pointer; font-size: 17px"
                      (click)="openConfirmDelete(deleteTemplate, product.id)"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="row" *ngIf="loadingProducts">
              <div class="col-xl-12">
                <div class="card">
                  <div class="card-body text-center" style="color: darkgrey">
                    <i
                      class="fa fa-spinner fa-spin"
                      style="font-size: 15px"
                    ></i>
                  </div>
                </div>
              </div>
            </div>

            <!-- show when emplty data -->
            <div class="row" *ngIf="products?.length == 0">
              <div class="col-xl-12">
                <div class="card">
                  <div
                    class="card-body text-center"
                    style="color: darkgrey; font-size: 12px"
                  >
                    No prodycts found
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Pagination -->
        <div
          class="row justify-content-center m-t-20"
          *ngIf="products?.length > 0"
        >
          <pagination-controls
            class="my-pagination pagging-style"
            (pageChange)="getNextProduct($event)"
            directionLinks="true"
            autoHide="false"
            responsive="true"
            previousLabel="Previous"
            nextLabel="Next"
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page"
          >
          </pagination-controls>
          <div class="loading-pagging" *ngIf="loadingPaggingData">
            <i
              class="fa fa-spinner fa-spin"
              style="font-size: 15px; color: #1e3020"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- =========== Modals ============================================================== -->
<!-- Confirm delete -->
<ng-template #deleteTemplate>
  <div class="modal-body text-center">
    <p>Are you sure delete this product?</p>
    <button type="button" class="btn btn-bgcolor" (click)="deleteProduct()">
      Okay
    </button>
    &nbsp;
    <button
      type="button"
      class="btn btn-secondary waves-effect"
      (click)="closeModal()"
    >
      Cancel
    </button>
  </div>
</ng-template>

<!-- products details -->
<ng-template #productDetailsModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Product details</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body custom-modal">
    <div class="row">
      <div class="col-8">
        <div class="col-lg-6 col-md-4" style="margin-bottom: 10px">
          <label>Name : &nbsp;</label> {{ orderDetails?.name }}
        </div>
        <div class="col-lg-6 col-md-4" style="margin-bottom: 10px">
          <label>Category : &nbsp;</label> {{ orderDetails?.category }}
        </div>
        <div
          class="col-lg-6 col-md-4"
          style="margin-bottom: 10px; text-align: left"
        >
          <label>Quantity : &nbsp;</label> {{ orderDetails?.quantity }}
        </div>
        <div
          class="col-lg-6 col-md-4"
          style="margin-bottom: 10px; text-align: left"
        >
          <label>Price : &nbsp;</label> {{ orderDetails?.price | currency }}
        </div>
        <div
          class="col-lg-6 col-md-4"
          style="margin-bottom: 10px; text-align: left"
        >
          <label>Discount : &nbsp;</label>
          {{ orderDetails?.discount | currency }}
        </div>
      </div>

      <div class="col-4">
        <img
          src="{{ imageUrl + orderDetails?.url }}"
          style="width: 150px; height: 150px; border: 1px solid"
          class="img-responsive"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-12" style="margin-bottom: 10px; text-align: left">
        <label>Description : &nbsp;</label> {{ orderDetails?.description }}
      </div>
    </div>

    <div class="row">
      <div class="col-12" style="margin-bottom: 10px; text-align: left">
        <label>Images : &nbsp;</label>
      </div>

      <div class="col-12" style="margin-bottom: 10px; text-align: left">
        <app-photo-editor
          [photos]="orderDetails?.productImages"
          (getPhotos)="setPhotos($event)"
          [showUpload]="false"
        ></app-photo-editor>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary waves-effect"
      (click)="closeModal()"
    >
      Close &nbsp;<span class="fa fa-times"></span>
    </button>
  </div>
</ng-template>

<ng-template #newProductModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ modalTitle }}</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form
    [formGroup]="productForm"
    id="productForm"
    (ngSubmit)="onSubmit(productForm.value)"
  >
    <div class="modal-body custom-modal">
      <div class="row">
        <div class="col-12 p-10">
          <input type="hidden" formControlName="id" />

          <div class="row">
            <div
              class="col-lg-12 col-md-12 form-group"
              [ngClass]="{
                'has-error':
                  (productForm.get('name').touched ||
                    productForm.get('name').dirty) &&
                  !productForm.get('name').valid
              }"
            >
              <label class="control-label">Product name</label>
              &nbsp;<span style="color: red; font-weight: bold">*</span>
              <input
                class="form-control"
                formControlName="name"
                type="text"
                placeholder="Product name"
              />

              <div
                style="
                  margin-top: 6px;
                  margin-bottom: -15px;
                  color: red;
                  font-weight: bold;
                "
                class="alert"
                *ngIf="
                  !productForm.get('name').valid &&
                  productForm.get('name').touched
                "
              >
                <div *ngIf="productForm.get('name').errors?.required">
                  Product name is required
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div
              class="col-lg-6 col-md-12 form-group"
              [ngClass]="{
                'has-error':
                  (productForm.get('categoryId').touched ||
                    productForm.get('categoryId').dirty) &&
                  !productForm.get('categoryId').valid
              }"
            >
              <label class="control-label" for="categoryId">Category</label>
              &nbsp;<span style="color: red; font-weight: bold">*</span>

              <ng-select
                formControlName="categoryId"
                placeholder="--- Select category ---"
              >
                <ng-option *ngFor="let cat of categoryList" [value]="cat.id">
                  <span>{{ cat.name }}</span>
                </ng-option>
              </ng-select>
              <div
                style="
                  margin-top: 6px;
                  margin-bottom: -15px;
                  color: red;
                  font-weight: bold;
                "
                class="alert"
                *ngIf="
                  !productForm.get('categoryId').valid &&
                  (productForm.get('categoryId').touched ||
                    productForm.get('categoryId').dirty)
                "
              >
                <div *ngIf="productForm.get('categoryId').hasError('required')">
                  Select category
                </div>
                <div *ngIf="productForm.get('categoryId').errors?.min">
                  Select category
                </div>
              </div>
            </div>

            <div
              class="col-lg-6 col-md-12 form-group"
              [ngClass]="{
                'has-error':
                  (productForm.get('price').touched ||
                    productForm.get('price').dirty) &&
                  !productForm.get('price').valid
              }"
            >
              <label class="control-label">Price</label>
              &nbsp;<span style="color: red; font-weight: bold">*</span>
              <input
                class="form-control"
                formControlName="price"
                type="number"
                placeholder="Price"
                (keypress)="checkMobilNumber($event)"
              />

              <div
                style="
                  margin-top: 6px;
                  margin-bottom: -15px;
                  color: red;
                  font-weight: bold;
                "
                class="alert"
                *ngIf="
                  !productForm.get('price').valid &&
                  productForm.get('price').touched
                "
              >
                <div *ngIf="productForm.get('price').errors?.required">
                  Price is required
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div
              class="col-lg-6 col-md-12 form-group"
              [ngClass]="{
                'has-error':
                  (productForm.get('quantity').touched ||
                    productForm.get('quantity').dirty) &&
                  !productForm.get('quantity').valid
              }"
            >
              <label class="control-label">Quantity</label>
              &nbsp;<span style="color: red; font-weight: bold">*</span>
              <input
                class="form-control"
                formControlName="quantity"
                type="number"
                placeholder="Quantity"
                (keypress)="checkMobilNumber($event)"
              />

              <div
                style="
                  margin-top: 6px;
                  margin-bottom: -15px;
                  color: red;
                  font-weight: bold;
                "
                class="alert"
                *ngIf="
                  !productForm.get('quantity').valid &&
                  productForm.get('quantity').touched
                "
              >
                <div *ngIf="productForm.get('quantity').errors?.required">
                  Quantity is required
                </div>
              </div>
            </div>

            <div
              class="col-lg-6 col-md-12 form-group"
              [ngClass]="{
                'has-error':
                  (productForm.get('discount').touched ||
                    productForm.get('discount').dirty) &&
                  !productForm.get('discount').valid
              }"
            >
              <label class="control-label">Discount</label>
              &nbsp;<span style="color: red; font-weight: bold">*</span>
              <input
                class="form-control"
                formControlName="discount"
                type="number"
                placeholder="Discount"
                (keypress)="checkMobilNumber($event)"
              />

              <div
                style="
                  margin-top: 6px;
                  margin-bottom: -15px;
                  color: red;
                  font-weight: bold;
                "
                class="alert"
                *ngIf="
                  !productForm.get('discount').valid &&
                  productForm.get('discount').touched
                "
              >
                <div *ngIf="productForm.get('discount').errors?.required">
                  Discount is required
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12 form-group">
              <label class="control-label">Description</label>
              <textarea
                class="form-control"
                formControlName="description"
                placeholder="Description"
                maxlength="500"
              ></textarea>

              <div
                style="
                  margin-top: 6px;
                  margin-bottom: -15px;
                  color: red;
                  font-weight: bold;
                "
                class="alert"
                *ngIf="
                  !productForm.get('description').valid &&
                  productForm.get('description').touched
                "
              >
                <div *ngIf="productForm.get('description')?.maxLength">
                  Description max length is 1000 char
                </div>
              </div>
            </div>
          </div>

          <!-- image -->
          <div class="row">
            <div class="col-lg-12 col-md-12 form-group">
              <label class="control-label">Images</label><br />
              <div
                *ngIf="photos.length == 0"
                class="card-body text-center"
                style="color: darkgrey; font-size: 12px"
              >
                No Images upload
              </div>

              <app-photo-editor
                [photos]="photos"
                (getPhotos)="setPhotos($event)"
              ></app-photo-editor>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        class="btn btn-bgcolor"
        type="submit"
        [disabled]="!productForm.valid || photos.length == 0"
      >
        {{ buttonTitle }}
      </button>
      <button
        type="button"
        class="btn btn-secondary waves-effect"
        (click)="closeModal()"
      >
        Cancel
      </button>
    </div>
  </form>
</ng-template>
