<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">{{message}}</div>
                <!-- <div class="mb-4 lead">الصفحة التي تبحث عنها غير موجودة</div> -->
                <a [routerLink]="['/category']" class="btn btn-link">{{btnTitle}}</a>
            </div>
        </div>
    </div>
</div>